body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.custom-container {
    display: flex;
    flex: 1;
    width: 100%;
}

.sidebar {
    width: 20%;
    max-width: 300px;
    min-width: 200px;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

.sidebar__profile {
    width: 90%;
    height: auto;
    padding: 20px;
    text-align: center;
    /*d추가*/
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar__category {
    width: 90%;
    padding: 20px;
    border: 1px solid #ddd;
    flex-grow: 1;
}