.github-link,
.email-link {
    font-weight: bold;
    transition: color 0.3s ease;
    text-align: center;
}

.github-link:hover {
    color: #ffc107 !important;
}

.email-link:hover {
    color: #ffc107 !important;
}