<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<div th:fragment="fragment-profile" class="sidebar__profile">
    <!--
    1. 프로필 이미지 - 인스타 처럼 꾸미면 괜찮을 듯
    2. 이름 및 정보
    3. 간단한 소개 : 웹 개발자
    4. 연락처 링크 : 깃헙
    -->
    <div class="mb-3">
        <img src="/images/woojae-picture.png"
             class="img-thumbnail rounded-circle img-fluid"
             style="width: 150px; height: 150px; object-fit: cover"
             alt="Profile"
        >
    </div>
    <h5 class="fw-bold">백재우</h5>
    <p class="text-muted mb-3">웹 백엔드 개발자</p>
    <p class="small">
        hi there 👋 <br/>welcome my tech blog
    </p>
    <div>
        <a href="https://github.com/jaewoo9797"
           class="text-decoration-none me-2 github-link"
           target="_blank">
            <i class="bi bi-github"></i>GitHub
        </a>
    </div>
</div>
</body>
</html>