<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head th:fragment="header-config">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>woojae blog</title>
    <meta name="description" content="woojae blog">
    <meta name="author" content="Woojae, 우재, 재우, 백재우">
    <meta name="keywords" content="blog, development, programming">
    <!-- 공통 파일 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <link th:href="@{/css/layout.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/profile.css}" rel="stylesheet" type="text/css">
</head>
</html>